In [52]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import tensorflow as tf
import random as random

In [53]:
data= pd.DataFrame(pd.read_csv("Churn_Modelling.csv"))

In [54]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [55]:
data.shape

(10000, 14)

In [56]:
features = data.iloc[:, 3:13].values
labels = data.iloc[:, 13].values

In [57]:
# Label encoding and hotendcoding

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_features_1 = LabelEncoder()
features[:, 1] = labelencoder_features_1.fit_transform(features[:, 1])

labelencoder_features_2 = LabelEncoder()
features[:, 2] = labelencoder_features_2.fit_transform(features[:, 2])

onehotencoder = OneHotEncoder(categorical_features = [1])
features = onehotencoder.fit_transform(features).toarray()

features = features[:, 1:]

In [58]:
# spillting dataset into training and test dataset
from sklearn.model_selection import train_test_split
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size = 0.2, random_state = 0)

In [59]:
# feature scaling

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
features_train = sc.fit_transform(features_train)
features_test = sc.transform(features_test)

In [60]:
features_train.shape

(8000, 11)

In [61]:
num_features = 11

In [62]:
x_ph = tf.placeholder(tf.float64, [None, num_features])

In [64]:
M1 = np.random.randn(num_features,num_features)
M1 = tf.Variable(M1)

In [65]:
print("Data Shape: ",x_ph.shape)
print("M1 Shape:",M1.shape)

Data Shape:  (?, 11)
M1 Shape: (11, 11)

In [66]:
L1Out = tf.nn.sigmoid(tf.matmul(x_ph,M1))

In [67]:
M2 = np.random.randn(num_features,num_features)
M2 = tf.Variable(M2)

In [68]:
L2Out = tf.nn.sigmoid(tf.matmul(L1Out,M2))

In [69]:
M3 = np.random.randn(num_features,num_features)
M3 = tf.Variable(M3)

In [70]:
L3Out = tf.nn.sigmoid(tf.matmul(L2Out,M3))

In [71]:
M4 = np.random.randn(num_features,num_features)

M4 = tf.Variable(M4)

Final_out = tf.nn.sigmoid(tf.matmul(L3Out,M4))

cost = tf.reduce_mean(tf.square(Final_out - y_ph))

In [72]:
Optimizer = tf.train.GradientDescentOptimizer(learning_rate = 0.00001)
Min_Error = Optimizer.minimize(cost)

In [73]:
# Storing the variables and constants in 
# the global variable of tensorflow
init = tf.global_variables_initializer()

In [74]:
s = tf.Session()
s.run(init)

In [75]:
feedd = {x_ph: np.array(features_train), y_ph : np.array(labels_test)}

In [76]:
from IPython.display import clear_output
iterations = 100
error = []
for i in range(iterations):
    s.run(Min_Error,feed_dict= feedd)
    error.append(s.run(cost, feed_dict= feedd))
 
    print("current iteration: ",i, "current cost: " , s.run(cost, feed_dict= feedd))
    clear_output(True)

ValueError: Cannot feed value of shape (2000,) for Tensor 'Placeholder_3:0', which has shape '(?, 1)'